.App {
  text-align: center;
}

h4 {
  font-size: 15px;
}

.img-weather {
  width: 100%;
  min-height: 100vh;
}

.color-white {
  color: #fff;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  max-width: 50%;
  margin: 0 auto;
}

.card {
  background: rgba(23, 68, 110, 0.808);
  box-shadow: 2px 2px 8px #000;
  padding: 15px;
  margin: 0 auto;
  min-width: 310px;
  color: #081624;
}

.country {
  color: #fff;
  font-size: 30px;
  margin: 0;
}

.card-body p {
  color: #ffffff;
}

.card-img {
  width: 30%;
}

.card-body b {
  color: #081624;
}

.card-header {	
  border-bottom: 1px solid rgb(33, 95, 76);
}

.temp {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-card {
  border: none;
  background:#0f476d;
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
}

.btn-card:hover {
  border: 1px solid #fff;
  padding: 7px 9px;
}
